# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Environment variables
.env

.txt
.webm
.wav

# Virtual Environment directories
.env/
venv/
env/
ENV/
.virtualenv/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/
